<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% extends "base.html" %}
    <title>Articles</title>
  </head>
  <body>
    {% block content %}
    <div class="container my-4">
      <h2 class="text-center mb-4">Documentation</h2>
      <div class="row">
        {% for article in article_list %}
        <div class="col-lg-10 mx-auto mb-4">
          <div class="card shadow-sm">
            <div class="card-header bg-light">
              <h5 class="mb-0">
                <a
                  href="{{ article.get_absolute_url }}"
                  class="text-decoration-none"
                  >{{ article.title }}</a
                >
              </h5>
              <small class="text-muted"
                >Author: {{ article.author }} | date: {{article.date}}</small
              >
            </div>

            <div class="card-body">
              <p class="card-text">{{ article.body }}</p>
            </div>

            <div class="card-footer bg-white pb-0">
              {% if article.author.pk == request.user.pk %}
              <div class="text-center mb-3">
                <a
                  href="{% url 'article_edit' article.pk %}"
                  class="btn btn-sm btn-outline-primary mx-1"
                  >Edit</a
                >
                <a
                  href="{% url 'article_delete' article.pk %}"
                  class="btn btn-sm btn-outline-danger mx-1"
                  >DELETE</a
                >
              </div>
              {% endif %}

              <h6 class="border-bottom pb-2 mb-3">COMMENTS</h6>
              <a href="{{ article.get_absolute_url }}">New Comment</a>
              <br />
              {% for comment in article.comment_set.all %}
              <br />
              <div
                class="comment mb-2 pb-2 {% if not forloop.last %}border-bottom{% endif %}"
              >
                <span class="fw-bold">{{ comment.author }}</span> &middot;
                <span>{{ comment }}</span>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
